<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Joeyyyyy</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href=" css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <!-- Josefin+Slab -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <!--Clicker Script-->
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
  </head>
  <body>
    
    <div class="inputText">
      <h1>How you doin'?</h1>
      <h3>Input something to<span style="font-family: 'Clicker Script', cursive;"> Smartify</span></h3>
        <form method="post" action="/result">
        <input type="text" name="string"maxlength="30" placeholder="Max Characters 30" autofocus><br>
        <button type="submit" value="submit">Submit</button>
      </form>
    </div>
    <img src ="hyd.gif" height="25%" width="25%">
    <div class="inputText">
      <h3>Can't think of anything to make sound more intelegent? Try these</h3>
    <p>"<cite><%= @trump.msg %></cite>"<br><b>- Donald J. Trump</b></p>
    </div>
  </body>
</html>
