<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Joeyyyyy</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <!-- Josefin+Slab -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    
    <style>
      .inputText{
        text-align: center;
        padding: 10px;   
      }
    </style>
    
  </head>
  <body>
    
    <div class="inputText">
      <h1>Joey!</h1>
      <div class="textbox">
        <form method="post" action="/result">
        <input type="text" name="string"><br>
        <button type="submit" value="submit">Submit</button>
      </form>
       
        <img src="dino.gif">
        
      </div>
    </div>
    
  </body>
</html>
