<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <!-- Josefin+Slab -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">

  </head>
  <body>
    
    <div class="container-fluid">
      <h1>Joey!</h1>
      <div class="textbox">
        <form>
        <input type="text">
        <input type= "submit" value="Submit">
        </form>
       
        <img src="dino.gif">
        
      </div>
    </div>
    
  </body>
</html>
