<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Result</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <!-- Josefin+Slab -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
  
  </head>
  <body>
    
    <div class="outputText">
      <h1>Here's your text</h1>
      <!--gets smartified output-->
      <h3><%= @string.output %></h3>   
    </div>
    
    <img src ="joeyGif.gif">
  </body>
</html>
