body{
        background-color: #ebf4ec;
        cursor: url("joeyFace.png"), auto;
      }

h1{
        font-family: 'Josefin Slab', serif;
      }

/*IDK WHY THESE DOESNT WORK
  BUT IT WORKS IN STYLE TAGS IN INDEX ERB*/
      
.inputText{
        text-align: center;
        padding: 10px;   
}

.outputText{
        text-align: center;
}

img {
    display: block;
    margin: auto;
    padding: 20px; 

}