body{
        background-color: #ebf4ec;
        cursor: url("joeyFace.png"), auto;
      }

h1,h4,h3{
        font-family: 'Josefin Slab', serif;
      }

.inputText{
        text-align: center;
        padding: 10px;   
}

.outputText{
        text-align: center;
}

img {
    display: block;
    margin: auto;
    padding: 20px; 

}

input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
